@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?va9trg');
  src:  url('fonts/icomoon.eot?va9trg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?va9trg') format('truetype'),
    url('fonts/icomoon.woff?va9trg') format('woff'),
    url('fonts/icomoon.svg?va9trg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-create:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-spinner:before {
  content: "\e982";
}
